<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>HPCC-IoT hackathonfaction</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="library/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="library/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="library/Ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="css/AdminLTE.css">
  <link rel="stylesheet" href="css/warning.css">

  <link rel="stylesheet" href="css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="css/query-builder.default.min.css">
  <script src="library/jquery/dist/jquery.min.js"></script>
  <script src="library/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="library/jQuery.extendext.js"></script>
  <script type="text/javascript" src="library/doT.js"></script>

  <script src="library/jQuery.extendext.min.js"></script>
  <script src="js/query-builder.min.js"></script>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    <a href="home.html" class="logo">
      <span class="logo-lg"><b>HPCC-IoT</b></span>
    </a>
    <nav class="navbar navbar-static-top">
    </nav>
  </header>

  <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu" data-widget="tree">
        <li><a href="home.html"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
        <li><a href="monitor.html"><i class="fa fa-line-chart"></i> <span>Monitor</span></a></li>
        <li><a href="rule.html"><i class="fa fa-cog"></i> <span>Rules</span></a></li>

      </ul>
    </section>
  </aside>

  <div class="content-wrapper">
    <section class="content-header row">
      <div id="builder-basic">
      </div>

      <div class="query-builder">
        <div class="rules-group-container" >
          <div id="">
            <h2>Action</h2>

            <span id="action_div"></span>
            <button type="button" class="btn btn-success" aria-label="Left Align" onclick="addMoreAction()">
              <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            </button>
          </div>

        </div>

      </div>
      <div id="builder-basic-2"></div>
      <button type="button" name="button" class="btn btn-primary" id="btn-reset">Reset rule</button>
      <button type="button" name="button" class="btn btn-primary" id="btn-get">Save rule</button>
      <div class="modal fade" id="add_platform" style="display: none;">
        <div class="modal-dialog">
          <div class="box box-info">
            <form class="form-horizontal" id="form_add_platform">
              <div class="box-body">
                <div class="form-group">
                    <div class="box-header with-border">
                        <h3 class="box-title">SSH information</h3>
                    </div>
                </div>
                <div class="form-group">
                  <label for="input_host" class="col-sm-2 control-label">Host</label>

                  <div class="col-sm-10">
                    <input class="form-control" id="input_host" placeholder="Host">
                  </div>
                </div>
                <div class="form-group">
                  <label for="input_user_name" class="col-sm-2 control-label">User Name</label>

                  <div class="col-sm-10">
                    <input class="form-control" id="input_user_name" placeholder="User Name" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="input_password" class="col-sm-2 control-label">Password</label>

                  <div class="col-sm-10">
                    <input type="password" class="form-control" id="input_password" placeholder="Password">
                  </div>
                </div>
                <div class="form-group">
                    <div class="box-header with-border">
                        <h3 class="box-title">Platform information</h3>
                    </div>
                </div>

                <div class="form-group">
                    <label for="input_platform_host" class="col-sm-2 control-label">Host</label>

                    <div class="col-sm-10">
                      <input class="form-control" id="input_platform_host" placeholder="Host is running platform">
                    </div>
                </div>
                <div class="form-group">
                    <label for="input_platform_port" class="col-sm-2 control-label">Port</label>

                    <div class="col-sm-10">
                      <input class="form-control" type="number" id="input_platform_port" placeholder="Port is running platform">
                    </div>
                </div>
                <div class="form-group">
                  <label for="input_platform_name" class="col-sm-2 control-label">Name</label>

                  <div class="col-sm-10">
                    <input class="form-control" id="input_platform_name" placeholder="Platform Name">
                  </div>
                </div>
                <div class="form-group">
                  <label for="input_platform_type" class="col-sm-2 control-label" >Platform Type</label>
                  <div class="col-sm-10">
                    <select class="form-control" id="input_platform_type">
                      <option>HomeAssistant</option>
                      <option>OpenHAB</option>
                      <option>ThingsBoard</option>
                    </select>
                  </div>

                </div>
                <div class="form-group">
                    <div class="box-header with-border">
                        <h3 class="box-title">Broker Fog</h3>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input_broker_fog" class="col-sm-2 control-label">Broker Fog</label>

                    <div class="col-sm-10">
                      <input class="form-control" id="input_broker_fog" placeholder="Broker Fog">
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
                  <button type="submit" id="btn_add_platform" class="btn btn-success">Add</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </section>
    <div id="loader" style="display:none;" ></div>


    <section class="content" id="main_content">

    </section>
  </div>
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
    <strong>Copyright &copy; 2018 HPCC-IoT.</strong>
  </footer>
</div>

<script src="library/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="library/fastclick/lib/fastclick.js"></script>
<script src="js/adminlte.js"></script>
<script>
$( document ).ready(function() {

  action_index=2;
  deviceList=[];
  $.getJSON('http://192.168.43.30:5000/api/sources', function(data) {

    sources=data;
    $.getJSON('http://192.168.43.30:5000/api/metric_domain', function(data1) {
      //data is the JSON string
      metric_domain=data1;
      for(i=0;i<sources.length;++i){
        // console.log(so);
        // if(typeof)
        if(typeof(metric_domain[sources[i].metrics[0].MetricDomain]["value"])=="object"){
          var metric=({
            "MetricId":sources[i].metrics[0].MetricName,
            "MetricName":sources[i].metrics[0].MetricId,
            "value":metric_domain[sources[i].metrics[0].MetricDomain]["value"]
          })
          deviceList.push(metric);
        }

      };

      var action_div = document.getElementById("action_div");
      //Create array of options to be added
      var array=deviceList;
      console.log((deviceList));
      var selectList = document.createElement("select");
      selectList.classList.add("form-control");
      selectList.classList.add("col-sm-4");
      selectList.id = "deviceID_1";
      action_div.appendChild(selectList);
      for (var i = 0; i < array.length; i++) {
        var option = document.createElement("option");
        option.value = array[i].MetricName;
        option.text = array[i].MetricId;
        selectList.appendChild(option);
      }
      var selectList = document.createElement("select");
      selectList.id = "action_1";
      selectList.classList.add("form-control");
      // selectList.classList.add("col-sm-4");
      action_div.appendChild(selectList);
      for (var i = 0; i < array[0]["value"].length; i++) {
        var option = document.createElement("option");
        option.value = array[0]["value"][i];
        option.text = array[0]["value"][i];
        selectList.appendChild(option);
      }

      $("#deviceID_1").change(function () {
        console.log("change deviceID");
          var val = $(this).val();
          for(var i=0;i<deviceList.length;++i){
            if (val == deviceList[i]["MetricName"]) {
              var option="";
              for(var j=0;j<deviceList[i]["value"].length;++j){
                option+="<option value="+deviceList[i]["value"][j]+">"+deviceList[i]["value"][j]+"</option>"
              }

                $("#action_1").html(option);
            }
          }

      });

      $('body').on("change","#deviceID_2",function(){
        console.log("change deviceID");
          var val = $(this).val();
          for(var i=0;i<deviceList.length;++i){
            if (val == deviceList[i]["MetricName"]) {
              console.log(deviceList[i]["value"]);
              var option="";
              for(var j=0;j<deviceList[i]["value"].length;++j){
                option+="<option value="+deviceList[i]["value"][j]+">"+deviceList[i]["value"][j]+"</option>"
              }

                $("#action_2").html(option);
            }
          }
      })

      $('body').on("change","#deviceID_3",function(){
        console.log("change deviceID");
          var val = $(this).val();
          for(var i=0;i<deviceList.length;++i){
            if (val == deviceList[i]["MetricName"]) {
              console.log(deviceList[i]["value"]);
              var option="";
              for(var j=0;j<deviceList[i]["value"].length;++j){
                option+="<option value="+deviceList[i]["value"][j]+">"+deviceList[i]["value"][j]+"</option>"
              }

                $("#action_3").html(option);
            }
          }

      });

      $('body').on("change","#deviceID_4",function(){
        console.log("change deviceID");
          var val = $(this).val();
          for(var i=0;i<deviceList.length;++i){
            if (val == deviceList[i]["MetricName"]) {
              console.log(deviceList[i]["value"]);
              var option="";
              for(var j=0;j<deviceList[i]["value"].length;++j){
                option+="<option value="+deviceList[i]["value"][j]+">"+deviceList[i]["value"][j]+"</option>"
              }

                $("#action_4").html(option);
            }
          }

      });

    });


    //Create and append select list

      // datalist.push
  });
});
function addMoreAction() {

  var action_div = document.getElementById("action_div");
  //Create array of options to be added
  var array=deviceList;
  var selectList = document.createElement("select");
  selectList.id = "deviceID_"+action_index;
  selectList.classList.add("form-control");
  selectList.classList.add("col-sm-4");
  action_div.appendChild(selectList);
  for (var i = 0; i < array.length; i++) {
    var option = document.createElement("option");
    option.value = array[i].MetricName;
    option.text = array[i].MetricId;
    selectList.appendChild(option);
  }
  var selectList = document.createElement("select");
  selectList.id = "action_"+action_index;
  selectList.classList.add("form-control");
  // selectList.classList.add("col-sm-4");
  action_div.appendChild(selectList);
  for (var i = 0; i < array[0]["value"].length; i++) {
    var option = document.createElement("option");
    option.value = array[0]["value"][i];
    option.text = array[0]["value"][i];
    selectList.appendChild(option);
  }

    action_index++;
}


var rules_basic = {
condition: 'AND',
rules: [{
  id: 'temperature',
  operator: 'less',
  value: 1111
}, {
  id: 'humidiy',
  operator: 'less',
  value: 10.25
},],
};

$('#builder-basic').queryBuilder({
plugins: ['bt-tooltip-errors'],

filters: [{
  id: 'humidiy',
  label: 'Humidiy',
  type: 'double',
  operators: ['equal', 'not_equal', 'greater', 'less']
}, {
  id: 'temperature',
  label: 'Temperature',
  type: 'double',
  operators: ['equal', 'not_equal', 'greater', 'less']
},{
  id: 'motion',
  label: 'Motion',
  type: 'integer',
  operators: ['equal', 'not_equal']
}
],

rules: rules_basic
});

$('#btn-reset').on('click', function() {
$('#builder-basic').queryBuilder('reset');
});

$('#btn-set').on('click', function() {
$('#builder-basic').queryBuilder('setRules', rules_basic);
});

$('#btn-get').on('click', function() {
var result = $('#builder-basic').queryBuilder('getRules');

if (!$.isEmptyObject(result)) {
  var data = result;
  var action_json=[]
  for(var i=1;i<action_index;++i){
    var deviceID_t="deviceID_"+i;
    var action_t="action_"+i;
    console.log(deviceID_t);
    var deviceID=getSelectedText(deviceID_t);
    var action=getSelectedText(action_t);
    var one_action={
      "deviceID":deviceID,
      "action":action
    }
    action_json.push(one_action)
  }



  data["action"]=action_json;
  console.log(data);
	$.ajax({
		type: 'post',
    dataType:'json',
		data: JSON.stringify(data),
    contentType: 'application/json',
    url: 'http://192.168.43.12:5000/rule',
    success: function(data) {
        console.log('success');
        console.log(JSON.stringify(data));
    },
    error: function(xhr, status, error) {
      console.log(error);
   },
  });
};

});

function getSelectedText(elementId) {
    var elt = document.getElementById(elementId);

    if (elt.selectedIndex == -1)
        return null;

    return elt.options[elt.selectedIndex].text;
}
</script>

<script>

</script>
<!-- <script src="js/dashboard.js"></script> -->
</body>
</html>
